@use 'variables' as *;

.content {
  display: grid;
  grid-template-columns: 390px 1fr;
  align-items: center;
  min-block-size: 299px;

  @media (max-width: 720px) {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 48px 24px 32px;
  }
}

.photo {
  inline-size: 140px;
  max-inline-size: 100%;
  justify-self: center;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-block: 63px;
  padding-inline-end: 51px;

  @media (max-width: 720px) {
    padding: 0;
  }
}

.name {
  font-size: 20px;
  font-weight: $font-weight-light;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
}

.price {
  font-size: 20px;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  line-height: 1;
}

.description {
  max-inline-size: 290px;
  color: $color-gray;
  font-size: 10px;
  font-weight: $font-weight-medium;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.more {
  color: $color-blue;
  font-size: 11px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.55px;
  line-height: 1;
}
